

  .HeroAbout-row{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
  }

  .my-3{
    text-align: left;
    font-weight: bold;
    font-size: 1.8rem;
    background: linear-gradient(90deg, #000 0%, #D4AF37 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }

  .display-4{
    text-align: left;
    font-size: 5rem;
    font-weight: bold;
  }

  .lead{
    text-align: left;
    color: #000;
font-family: "Inria Sans";
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }