

.border-left{
    color: #000;
font-family: "Inria Sans";
font-size: 3.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.con-text{
    color: #000;
font-family: "Inria Sans";
font-size: 1.8rem;

font-weight: 600;
line-height: normal;
}


.con-text > span{
    background: linear-gradient(103deg, #B088EF 47.53%, #D4B9FD 84.47%, #FFF 93.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 900;
}

@media  screen and (max-width:786px) {
   .main-letter{
    font-size: 1rem;
   } 
   .con-text{
    font-size: 1rem;
    text-align: center;
   }
}