.career-page {
    font-family: Arial, sans-serif;
  }
  
.career-hero{
    min-height: 60vh;
}

.great-place-section{
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.great-place-section > h2{
  min-height: 10vh;
}

  
  .hero-title {
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    color: #000;
  }
  
  .hero-body {
    font-size: 1rem;
    color: #000;
  }
  
  .section-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #5a5a5a;
    margin-bottom: 20px;
  }
  
  .resume-form .form-label {
    font-weight: bold;
    color: #495057;
  }
  
  .resume-form .form-control {
    border-radius: 5px;
  }
  
  .resume-form button {
    background-color: #6200ea;
    border: none;
    color: #fff;
    border-radius: 5px;
  }
  

  .zoom-on-hover {
    transition: transform 0.3s ease;
  }
  .zoom-on-hover:hover {
    transform: scale(1.05);
  }
  
  .benefits-card {
    background: linear-gradient(-108deg, #B088EF 19.45%, #D4B9FD 38.38%, #FFF 64.14%);
width: 250px;
  }

  .benifit-card-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  
  .image-collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
 
 
  .zoom-on-hover{
    width: 250px;
  }

 
  .value-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .openings-section > h2 {
    text-align: center;
  }

  .openings-section > p {
    text-align: center;
  }

  .form-card{
min-height: 80vh;
display: flex;

align-items: center;
justify-content: center;
    background-color: #fff;
   width: 80%;
    border-radius: 12px;
   border: 2px solid purple;
  }

  .openings-section{
    display: flex;

align-items: center;
justify-content: center;
flex-direction: column;  }