/* Navbar Styles */
.navbar-custom {
  background-color: #fff;
  padding: 10px 0;
}

.navbar-custom .navbar-brand img {
  width: 80px;
  height: 80px;
}

.navbar-custom .nav-link {
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
}

.navbar-custom .nav-link:hover {
  color: #007bff;
}

.navbar-custom .nav-dropdown-item {
  font-size: 1rem;
  padding: 8px 20px;
}

.navbar-custom .nav-cta,
.navbar-custom .nav-cta2 {
  padding: 10px 20px;
}

.navbar-custom .nav-cta2 a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-custom .nav-cta2 .fa-phone {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar-custom .navbar-collapse {
    text-align: center;
  }

  .navbar-custom .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .navbar-custom .d-flex {
    flex-direction: column;
  }

  

  .navbar-custom .navbar-nav .nav-link {
    font-size: 1.1rem;
  }

  .navbar-custom .navbar-brand img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 576px) {
  .navbar-custom .navbar-nav .nav-link {
    font-size: 1.2rem;
  }

  .navbar-custom .nav-cta,
  .navbar-custom .nav-cta2 {
    font-size: 1rem;
  }

  .navbar-custom .navbar-brand img {
    width: 60px;
    height: 60px;
  }
}


.nav-options{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-cta{
  min-width: 10vw;
  background-color: transparent;
  color: #8154C8;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}


.nav-cta2{
  min-width: 15vw;
  background-color: #8154C8;
display: flex;
align-items: center;
justify-content: center;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-cta:hover{
  min-width: 10vw;
  background-color: #8154C8;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-cta2:hover{
  min-width: 15vw;
  background-color: #8154C8;

  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}