

.call-icon{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-items {
  display: flex;
  gap: 20px; /* Space between each item */
  justify-content: center;
  align-items: center;
}

.navbar .nav-link {
  padding: 10px 15px;
  color: #000; /* Adjust color as needed */
  font-weight: 500;
  font-size: 1.5rem;
}

.navbar .nav-link:hover {
  color: #8154C8; /* Hover color */
  text-decoration: none;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 1.5rem;
}

.mega-menu-item {
  padding: 10px;
  cursor: pointer;
  color: #333;
  font-weight: 400;
  font-size: 1.1rem;
}

.mega-menu-item:hover {
  background-color: #f1f1f1;
}


.fa-phone {
  color: #B088EF !important;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
}

@media (max-width: 991px) {
  .mega-menu {
    top: 100%;
    left: 0;
    width: 100%;
    top: 100%; /* Place below the navbar */
    transform: none; /* Centered on screen */
  }

  .nav-cta, .nav-cta2 {
    width: 100%;
    margin: 5px auto;
  }
  
  .nav-cta2 a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav-cta{
 background-color: #8154C8;
 border: none;
 font-size: 1.5rem;
 font-weight: 600;
}

.nav-cta2{
  background-color: #8154C8;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
 }

 .nav-cta:hover{
  background-color: #fff;
  color: #8154C8;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
 }


 .nav-cta2:hover{
  background-color: #8154C8;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
 }