.text-dark{
    text-decoration: none !important;
}

.footer{
    background-color: #ECE1FF !important;
}

hr{
border: 10px solid #ffffff 1;
    color: #fff;
}
.privacy{
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
}
@media only screen and (max-width:768px) {
    .opening-timing{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .opening-timing > h6{
        text-align: center;
    }

    .opening-timing > p{
        text-align: center;
    }
}