
Html,body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Replace 'Roboto' with your desired font */
overflow-x: hidden;

  

}

.backgroundSecBg{
  background-color: #ffffff !important;
}

.backgroundBg{
  background-color: #ffffff !important; 
}


.heroSection {
  background: linear-gradient(103deg, #B088EF 7.53%, #D4B9FD 24.47%, #FFF 43.29%);
  font-family: 'Inria Sans', sans-serif;
  font-weight: 400;

  z-index: -9 ;
  width: 100%;

}

.hero-section{
  z-index: 99 !important;
}

.hero-row{
  display: flex;
}
.hero-btn{
  width: 50%;
  min-height: 7vh;
  border-radius: 12px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border: none;

  background-color: #8154C8;
 
}
.hero-btn > a {
  color: #fff;
  font-size: 30px;
 
  font-weight: medium;
text-decoration: none;
}
.hero-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.hero-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .hero-image-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }
  
.hero-title{
  font-size: 4.5rem;
  font-weight: bold;
}

.topCon-title{
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lead{
  font-size: 3rem;
  min-height: 10vh;
  display: flex;
  align-items: center;
}


.homecard-container{
  width: 100%;
 

}

.homecard-container > h1{
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homecard-row{
  display: flex;
  align-items: center;
  justify-content: center;

}

/* global.css */
/* global.css */

.cta-button {
  padding: 10px 50px;
  background: #8154C8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.cta-button:hover {
  background: #8154C8;
}





.trust-contanier{

  min-height: 100vh !important;
 
}

.trust-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.trust-img{
  display: flex;
  align-items: center;
  justify-content:center;
 
}

.trust-content{
  display: flex;
  align-items: flex-start;
  justify-content:center;
  flex-direction: column;
}
.line-trust{
  
  border: 10px solid purple;
}


.trust-number{
  color: #B088EF;
  font-size: 36px;
}

.trust-para{
  font-size: 20px;
}

.testimonial{
 
  width: 100%;
}

.text-dark{
  text-decoration: none !important;
}

.copy-bg{
  background-color: #FFFFF0;
  min-height: 10vh;
  display: flex;
  align-items: flex-start;
  justify-content:center;
}

@media only screen and (max-width:768px){
  .hero-title{
 
    text-align: center;

  }

  .frompopup-row{
    display: flex;
    flex-direction: column;
  }

  .popup-zoho-form{
    min-height: 80vh;
  }

  .popup-zoho-form iframe{
    min-height: 80vh;
  }
  
  .popup-image{
    height: 0px !important;
    display: none !important;
  }

  .popup-image img{
    display: none !important;
  }
  .empty-space{
    min-height: 10vh;
    width: 100%;
  }
  .lead{
font-size: 20px;
text-align: center;
  }
  .hero-image{
    width: 100%;
    height: 100%;
  }
  .hero-content{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }




  .homecard-container{
    min-height: 170vh;
    display: flex;
    align-items: center !important;
    flex-direction: column !important;
  }
  .card-col{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
  }
  .homecard-row{
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
  .btn{
    text-align: center;
  }

  .trust-title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trust-img{
    width: 100%;
  }
  .img-car{
    width: 100%;
    height: 100%;
  }
  .trust-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .Footer-col{
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
    flex-direction: column;
  }
  .copy-row{
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
    flex-direction: column;
  }
}

@media only screen  and (max-width: 768px) {
  .hero-title{
   
    text-align: center;
    font-weight: bold;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .heroSection{

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lead{
    text-align: center;
    font-size: 20px;
  }
  .card{
    width: 100%;
  }
 
  .sub-title{
    text-align: center;
  }

  .card-title{
    text-align: center !important;
  }
  .trust-contanier{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .trust-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .homecard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

html {
  scroll-behavior: smooth;
}




/* footer */


@media only screen and (max-width:768px) {
  .opening-timing{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .sub-title1{
    font-size: 2rem;
  }

  .sub-title3{
    font-size: 2rem;
    text-align: center;
  }
  .opening-timing > h6{
      text-align: center;
  }

  .opening-timing > p{
      text-align: center;
  }
}

/* Home Card */

.card {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.overlayText {
  margin: 0;
font-size: 24px;
}

.ctaButton {
  display: none; /* Hidden by default */
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #f1f1f1;
}

/* Show the CTA button only on hover */
.card:hover .ctaButton {
  display: block;
}

.homecard-container{
  width: 100%;
  min-height: 60vh;
display: flex;
align-items: center;
justify-content: space-around;

}

@media only screen and (max-width: 600px){
  .hero-title{
    
    text-align: center;

  }
  .empty-space{
    min-height: 10vh;
    width: 100%;
  }
  .lead{

text-align: center;
  }
  .hero-image{
    min-width: 100%;
    min-height: 100%;
  }
  .hero-content{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

 

  .homecard-container{
    min-height: 170vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card-col{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }
  .homecard-row{
    display: flex;
    align-items: center;
    justify-content: center;
  }

}


.backgroundSecBg{
  background-color: #ffffff !important;
}

.backgroundBg{
  background-color: #ffffff !important; 
}